<h1>{{titulo}}</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id Pelicula</th>
            <th>Título</th>
            <th>Género</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pelicula of peliculas">
            <td>{{pelicula.id_pelicula}}</td>
            <td>{{pelicula.titulo}}</td>
            <td>{{pelicula.genero}}</td>
            <td><img [src]="pelicula.foto" alt="" (click)="editarFila(pelicula)"></td>
        </tr>
    </tbody>
</table>
<div *ngIf="peliculaSeleccionada">
<!--<div [hidden]="!peliculaSeleccionada">-->
    <app-detalle [pelicula]="peliculaSeleccionada" [cadena]="cadena"></app-detalle>
</div>

