<h2>Editar película</h2>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="">Titulo</label>
            <input type="text" class="form-control" name="titulo" [(ngModel)]="pelicula.titulo" > 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="">Genéro</label>
            <input type="text" class="form-control" [(ngModel)]="pelicula.genero">
        </div>
    </div>
</div>

<button class="btn btn-primary" (click)="actualizar()">Enviar</button>